@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("../assets/font/Gilroy-Regular.woff2") format("woff2"),
    url("../assets/font/Gilroy-Regular.woff") format("woff"),
    url("../assets/font/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("../assets/font/Gilroy-Medium.woff2") format("woff2"),
    url("../assets/font/Gilroy-Medium.woff") format("woff"),
    url("../assets/font/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("../assets/font/Gilroy-Semibold.woff2") format("woff2"),
    url("../assets/font/Gilroy-Semibold.woff") format("woff"),
    url("../assets/font/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("../assets/font/Gilroy-Bold.woff2") format("woff2"),
    url("../assets/font/Gilroy-Bold.woff") format("woff"),
    url("../assets/font/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Gilroy", sans-serif;
}

label,
li {
  font-family: "Raleway", sans-serif;
  user-select: none;
}

input {
  -webkit-appearance: none;
}

.iOS {
  -webkit-appearance: none;
}

.disabled-text {
  user-select: none;
}

.centered {
  top: 50%;
  transform: translate(-50%, -50%);
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px !important;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: white;
  border-width: 1px;
  border-color: #31bef4;
  opacity: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);
  transition-duration: 200ms;
}

.swiper-pagination-bullet-active {
  width: 18px;
  height: 18px;
  background-color: #31bef4;
  padding: 2px;
  border-width: 4px;
  border-color: white;
  box-shadow: 0px 0px 0px 1px #31bef4, 0px 0px 5px 1px #31bef4;
  transition-property: all;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);
  transition-duration: 200ms;
}

.btn:hover svg path {
  fill: #ffffff;
  transition-property: all;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);
  transition-duration: 200ms;
}

.inner {
  box-shadow: inset 0px 5px 15px rgba(33, 45, 85, 0.06);
}

@layer base {
  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl;
  }
  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }
  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
  h4 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }
  h5 {
    @apply text-lg md:text-xl lg:text-2xl;
  }
  button {
    @apply text-white animate w-full md:w-fit px-6 pb-3 pt-4 md:pb-2 md:pt-3 bg-blue shadow-[0px_6px_0px_#2CABDC] hover:shadow-[0px_4px_20px_#0B91C5] round text-xl font-semibold;
  }
  p {
    @apply lg:text-lg;
  }
  input {
    @apply p-6 font-medium outline-none text-xl round placeholder-[#A8ABB7] bg-white shadowregular;
  }
}

@layer components {
  .animate {
    @apply transition-all duration-200;
  }
  .paddingX {
    @apply px-shorter lg:px-normal xl:px-longer2;
  }
  .h1 {
    @apply text-4xl md:text-5xl lg:text-6xl;
  }
  .h2 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }
  .h3 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }
  .h4 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }
  .h5 {
    @apply text-lg md:text-xl lg:text-2xl;
  }
  .p {
    @apply lg:text-lg;
  }
  .pSmaller {
    @apply text-base;
  }
  .pSmaller2 {
    @apply text-xs;
  }
  .round {
    @apply rounded-[10px];
  }
  .shadowbox {
    @apply shadow-[0px_10px_20px_rgba(33,45,85,0.06)];
  }
  .shadowboxchildren {
    @apply shadow-[0px_5px_19px_rgba(33,45,85,0.06)];
  }
  .shadowboxfeatures {
    @apply shadow-[0px_5px_15px_rgba(33,45,85,0.2)];
  }
  .shadowboxfeatureschildren {
    @apply shadow-[-3px_3px_15px_0px_rgba(33,45,85,0.2)];
  }
}

.shadowregular {
  box-shadow: 0px 5px 19px 0px rgba(33, 45, 85, 0.2),
    -5px -0.5px 15px 0px rgba(33, 45, 85, 0.05);
}
